:root {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #9d9ea3;
}

body {
  margin: 0;
  box-sizing: border-box;
}
