header.topbar {
    background-color:brown;
    font-family: "Sofia Pro", Arial, sans-serif;
    color: #FFFFFF;
    min-height:200px;
    display:grid;
    grid-template-columns: 20% 80%;
    column-gap:0;
    align-items: center;
}
header.topbar span{
    font-size: 72px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header.topbar{
        display:block;
    }
    header.topbar span{
        display:block;
    }
    header.topbar > div{
        text-align: center;
        display:inline;
    }
    header.topbar h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 567px){
    header.topbar{
        padding-bottom: 5px;
    }
}