div.context-menu p, div.context-menu label {
    font-size: 22px;
}
div.image-holder{
    width:100%;
    margin:20px 0;
}
img.image-holder-img{
    border-radius:20px;
}
div.course-card-holder{
    display: grid;
    grid-template-columns: 45% 45%;
    row-gap: 10%;    
}
div.course-card{
    width:100%;
    border:2px solid slategray;
    line-height:1;
}
div.course-card:hover{
    cursor:pointer;
    opacity: 0.75;
}
div.course-card img, .common-image{
    width:100%;
    height:150px;
    object-fit: cover;
}
div.course-card > div{
    display:grid;
    grid-template-columns: 30% 65%;
    column-gap:5%;
    padding:5px 10px;
}
div.course-edit-form{
    width:80%;
    display:grid;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    grid-template-columns: 50% 50%;
    font-size: 22px;
    text-align: center;
}
div.course-edit-form > div {
    width:100%;
    margin: 15px 0;
}
div.course-edit-form > div:nth-child(3){
    grid-column-start: 1;
    grid-column-end:3;
    
}
div.course-edit-form > div input[type=text], div.course-edit-form > div input[type=number], div.course-edit-form select, .common-input{
    border: 2px solid rgb(186, 186, 186);
    background-color: #ededed;
    width:75%;
    padding:15px 25px;
    border-radius:15px;
    font-size:22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
div.course-edit-form button{
    width:50%;
    margin: auto auto;
}
div.new-section{
    display:grid;
    grid-template-columns: 30% 60% 10%;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.new-section input, div.new-section select{
    width:50%;
    height: 45px;
    border-radius: 15px;
    border: 2px solid slategray;
    font-size:22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.new-section input[type=number]{
    width:100px !important;
}

button.green-add-button{
    width:50px;
    height:50px;
    font-size:30px;
    margin:0; padding:0;
    background-color: green;
    color: #FFF;
    font-weight: bolder;
    border-radius: 50%;
    outline: none;
    text-align:center;    
}
section.section-line{
    display:grid;
    grid-template-columns: 20% 50% 30%;
    text-align: left;
}
section.section-line h3:hover{
    color: rgb(18, 39, 75);
    text-decoration:underline;
    cursor:pointer;
}