.inline-input{
    font-size: 22px;
    font-family: "Lisu Bosa", Times, serif;
    font-weight: bold;
    border:none;
    border-bottom:1px solid #000;
    background-color: #e1e1e1;
}

.delete-box{
    height:108px;
    background-color: brown;
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delete-box button{
    border-radius: none;
    margin: 0 1rem;
    width:100px;
    padding:5px 10px;
}
.member-item{
    display:grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #FFF;
    margin: 1rem 0;
}
.member-item-buttons {
    height:100%;
    display:flex;
    flex-direction: column;
}
.member-item div:not(.member-item-buttons){
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.member-item-buttons button{
    border-radius:0;
    height:50%;
    margin:0;
}

@media screen and (max-width: 768px){
    .member-item-user-logo{
        display:none;
    }
    .member-item h2::before{
        content: "\1F464";
    }
    .member-item{
        padding: 1rem;
        grid-template-columns: 100%;
    }
    .member-item-buttons{
        flex-direction: row;
    }
    .member-item-buttons button{
        height:100%;
        width:100%;
    }
    .delete-box{
        padding:1rem;
        height:auto;
    }
}