div.context-menu{
    display:grid;
    grid-template-columns: 25% 75%;
    margin-top:2rem;
}
div.side-bar{
    width:80%;
}
div.side-bar-item{
    border:3px solid rgb(143, 143, 143);
    padding: 0 15px;
    margin-bottom:15px;
}
div.side-bar h2{
    color: rgb(89, 46, 16);
}
div.side-bar li, div.side-bar ul{
    list-style-type:none;
    display:block;
    padding:0;
}
div.side-bar li{
    color: rgb(12, 85, 12);
    cursor:pointer;
    border-bottom:1px solid rgba(34, 147, 34, 0.209);
    margin: 1rem 0;
}
input[type=text].generic-bar{
    width:80%;
    font-size:22px;
    background-color: transparent;
    padding:10px 15px;
    border:none;
    outline:none;
    border-bottom:1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
div.instructor-item{
    display:grid;
    grid-template-columns: 70% 30%;
}
div.instructor-item p button{
    display:inline !important;
}