.section-selector-holder h2{
    color: rgb(97, 37, 37);
}
.section-selector-item{
    border-bottom: 2px solid rgb(97, 37, 37);
    width:80%;
}
.section-selector-item h3:hover{
    color: rgb(18, 39, 75);
    text-decoration:underline;
    cursor:pointer;
}
.courses-holder{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.announcement-box{
    margin: 15px 0;
}
.blinking-blue:hover{
    cursor:pointer;
    text-decoration: underline;
    color: rgb(18,39,75);
}