nav{
    width:100%;
    background-color: rgb(224, 224, 224);
    border: 1px solid transparent;
    border-bottom: 3px solid rgb(205, 205, 205);
}

nav ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

nav li{
    display:inline-block;
    min-width:100px;
    list-style-type:none;
    border-right: 2px dotted gray;
    text-align:center;
    padding:0 15px;
}

nav li:last-child{
    border-right:none;
}